server:
  port: 8080
  servlet:
    context-path: /identity
spring:
  datasource:
    url: jdbc:sqlserver://192.168.2.31:1433;databaseName=identity-service;encrypt=false;trustServerCertificate=true
    username: tuan
    password: Ductu@123
jpa:
  hibernate:
    ddl-auto: update
  show-sql: true
jwt:
  singerKey: "g/Y81rnu6xcnhyvHBgPjWuqmR0H@oVbHqyp/Pc23s4gtJgu$2jK7FBsW+T#P/Y0Z6XYvbGLY0S3jD5s8Znmsdg=="